
body {
    color:rgb(26, 25, 25);
    background: rgb(245, 245, 248);
    margin: 0px;
    font-family: "Roboto Mono", monospace;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px rgb(143, 34, 34);
    padding: 20px;
    font-size: 32px;
    color:rgb(143, 34, 34);
}
.chamada {
    background: rgb(143, 34, 34);
    color:rgb(233, 231, 231);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

img {
    height: 200px;
}

.categoria-vídeos {
    display: flex;
    overflow-x: auto;
    gap:10px;

}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}


.categoria-videos img {
    opacity 0.5;
    height: 200px
}

.categoria-videos img:hover {
    opacity 1.0;
    border: 1px solid gray;
}

.categoria h2 {
    color: rgb(143, 34, 34);
}

